@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    min-height: 100vh;
    margin: auto;
    background-image: url(./assets/Untitled\ \(1\).svg);
    background-size: 205vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color:  #00000052;
}

form, table {
    background-color:#959c9d;
    display: block;
    margin-left: 20vmin;
    margin-right: 10vmin;
    margin-top: 5vmin;
    width: 52vh;
    height: 70vh;
    border: none;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #7f8585,
    -5px -5px 10px #abb3b5;
    transition: height 2s, background-color 4s, width 3s;
    transition-delay: 0.3s;
}

form:hover, table:hover {
    width: 400px;
    height: 600px;
    background-color: #c2c5c579;
    
}

fieldset {
    border: none;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 3vh;
    margin-right: 2vh;
}

legend {
    font-size: x-large;
    font-weight: 600;
}

input:hover, textarea:hover, select:hover {
    border: 3px solid #89C4CC;
}
p {
    margin-top: 5px;
    margin-bottom: 8px;
}

label {
    font-weight: 400;
}

#cur{
    background-color: #959c9d;
}
select {
    margin-left: 2vh;
}
textarea {
    margin-bottom: 2vh;
    font-family: 'Poppins', sans-serif;
}

#date {
    margin-left: 2vh;
}
input, option, select, option, textarea {
    background-color: #f0f0f000;
    border: none;
    box-shadow: 5px 5px 10px #7f8585,
    -5px -5px 10px #abb3b5;
    border-radius: 10px;
    padding: 9px;
    color: rgba(255, 255, 255, 0.582);
}


textarea, select {
    background-color: #f0f0f000;
    color:rgb(121, 120, 120);
}

#button {
    margin-top: 20px;
    margin-left: 2vh;
    background-color: #959c9d;
    width: 40vh;
    height: 45px;
    color: #00000091;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50px;
}

#button:hover {
    background-color: #2F55D0;
    width: 20vh;
    height: 45px;
    transition: height 2s, background-color 1s, width 3s;
    transition-delay: 0.5s;
    color: #d4a181;
}


table {
    margin-top: 5vh;
    border-spacing: 4px;
}

thead, tbody {
    display: block;
    margin-left: 4vh;
    margin-right: 0.5vh;
}
tbody {
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Scrollbar styling >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #2f55d0ce; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #2f55d0c7; 
}


#header >tr > th {
    padding-top: 5vh;
    padding-left: 1vh;
    font-weight: bold;
    display: inline-table;
    margin-right: 18px;
    margin-left: -5px;
}

td {
    border: 1px solid #7f8585;
    border-radius: 0.5vh;
    line-height: 5vh;
    
}

#data > td {
    padding-top: 5vh;
    padding-left: 2vh;
}

@media only screen and (max-width: 1025px) {
    body {
        width: 100%;
        height: 100vh;
        margin-right: 5px;
        display: block;
        background-size: 250vh;
        
    }
    form, table {
        width: 50vh;
        height: 60vh;
        margin-left: 20vh;
        margin-right: 20vh;
    }

    fieldset {
        margin-top: 5vh;
        margin-bottom: 20vh;
        margin-left: 5vh;
        margin-right: 2vh;
    }
    
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
        height: 100vh;
        margin-top: 5vh;
        margin-left: 5vh;
        margin-right: 5vh;
        display: block;
        background-size: 300vh;
    }
    form, table {
        width: 50vh;
        height: 60vh;
        margin-left: 0;
        margin-right: 0vh;
    }

    #date {
        margin-left: 1vh;
    }
}